<section id="projects" class="content-section">
    <div class="section-content">
    <h2 data-lang="projects-title">Proyectos</h2>
    <div class="project">
      <h3 data-lang="proj1-title">Proyecto de análisis de datos de ventas</h3>
      <p data-lang="proj1-desc">Procesamiento y limpieza de datos en Excel y Sage, asegurando su integridad. Aplicación de técnicas de análisis en Power BI para identificar tendencias y generar reportes contables detallados. Diseño de dashboards dinámicos para facilitar la toma de decisiones estratégicas, con recomendaciones basadas en datos.</p>
    </div>
    <div class="project">
      <h3 data-lang="proj2-title">Automatización de facturación</h3>
      <p data-lang="proj2-desc">Desarrollo de un sistema automatizado para la creación y envío de facturas, integrando reconocimiento óptico de caracteres (OCR) con Python para la extracción de datos desde documentos. Los datos procesados se almacenan en SQL Server, asegurando precisión y reducción de tareas manuales en la gestión de facturación.</p>
    </div>
    <div class="project">
      <h3 data-lang="proj3-title">Desarrollo de formulario avanzado y sitio web en WordPress</h3>
      <p data-lang="proj3-desc">Implementación de un formulario personalizado en WordPress utilizando plugins como Contact Form 7. El formulario permite recopilar información específica de usuarios y enviar notificaciones automáticas, mejorando la eficiencia en la gestión de solicitudes. Además, creación de un sitio web corporativo moderno y responsivo en WordPress.</p>
    </div>
    <div class="project">
      <h3 data-lang="proj4-title">Marketplace (Flutter + Django) - Desarrollo Full Stack</h3>
      <p data-lang="proj4-desc">Participación en la elaboración de un marketplace para una aplicación móvil en Flutter, con backend en Django, contribuyendo tanto a la capa de interfaz como a endpoints y lógica del servidor.</p>
    </div>
    <div class="academic-projects">
      <h3 data-lang="academic-proj-title">Proyectos Académicos</h3>
      <div class="project">
        <h4 data-lang="shield-title">ShieldLink - App Móvil contra el Bullying</h4>
        <p data-lang="shield-desc">Aplicación móvil desarrollada para abordar el problema del bullying en entornos educativos, ofreciendo recomendaciones personalizadas y evaluaciones anónimas para estudiantes.</p>
        <p><a href="https://github.com/YerayAR/ShieldLink" target="_blank" rel="noopener" data-lang="github-link">Ver código en GitHub</a></p>
      </div>
    </div>

    <h3 data-lang="repos-title">Repositorios en GitHub</h3>
    <div id="repo-list">
        <div class="loader active"></div>
    </div>
    </div>
  </section>