<section id="technologies" class="content-section">
    <div class="section-content">
    <h2 data-lang="tech-title">Tecnologías y Herramientas</h2>
    <p data-lang="tech-intro">Estas son algunas de las tecnologías y herramientas con las que he trabajado:</p>
    <div class="tech-list">
      <span class="tech-item">🔵 HTML5</span>
      <span class="tech-item">🎨 CSS3</span>
      <span class="tech-item">✨ JavaScript</span>
      <span class="tech-item">🐍 Python</span>
      <span class="tech-item">☕ Java</span>
      <span class="tech-item">🕸️ Django</span>
      <span class="tech-item">🐳 Docker</span>
      <span class="tech-item">🔧 Git</span>
      <span class="tech-item">🔥 Firebase</span>
      <span class="tech-item">🗄️ SQL PostgreSQL & T‑Server</span>
      <span class="tech-item">📊 Sage</span>
      <span class="tech-item">📈 Power BI</span>
      <span class="tech-item">🦋 Flutter</span>
      <span class="tech-item">📝 VSCode</span>

    </div>
    </div>
  </section>